$apple-hwite: #eeeeee;

.App {
    text-align: center;
    background-color: $apple-hwite;
    height: 100vh;
}

#root {
    background-color: $apple-hwite;
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}