.Profile{
    .title{
        font-size: x-large;
    }
    .profileContent{

    }
    .cards{
        margin: auto;
        width:100%;
        .card{
            width: 100%;
        }
    }
    .progressBar{
        margin:30px;
        max-height: 20px;
        .bar{ max-height: 20px;}
    }
}