.WelcomeScreen{

    .title{
        padding-top:30px;
        font-size: x-large;
    }
    .countryForm, .cityForm{
        height: 30px;
        width:80%;
        margin:auto !important;
        margin-top:30px !important;
    }
    
    button{
        margin-top: 50px !important ;

    }
}