.WelcomeScreen{
    .placeForm{
        // display: none !important;
        .countryForm, .cityForm{
            height: 30px;
            width:80%;
            margin:auto !important;
            margin-top:30px !important;
        }
    }
    .timeForm{
        // display: none !important;
        .buttons{
            margin:auto;
            .middleButton:focus,.middleButton:hover{
                background-color: inherit;
            }
            button{
                margin-top: 10px;
                margin-left: 5px;
                margin-right:5px;
            }
        }
    }
    .costForm{
        button.field{
            margin:auto;

        }
        .checkboxContainer{
            label{
                margin-top:20px;
                font-size:16pt;
            }
            width: auto !important;
            margin:auto !important;
            text-align: left;
        }
        .field{
            margin:auto !important;
        }
    }
    .buttonContainer{
        display:flex;
        width:80% !important;
        margin: auto !important;
        margin-bottom: 10px !important;
        transition: all 0.2s;
        button{
            margin-top: 50px !important ;
            width: 100%;
        }
    }
}
.title{
    padding-top:20px;
    padding-bottom: 20px;
    font-size: x-large;
    width: 100% !important;
}

.ui.container.checkboxContainer {
    margin-left: 40px !important;
    margin-right: 40px !important;

}

.ui.container.buttonContainer{ 
    position: fixed;
    left: 50%;
    bottom: 200px;
    transform: translateX(-50%);
}

.animationGroup {
    position:fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

.submitButton {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 380px;
}
// @media(max-width: 767px) {
//     .ui.container.firstHeader {
//         width: 100% !important;
//     }
// }
    
